<ion-view>
  <ion-content>
  <div class="row">
 <div class="col col-33">
 <div class="button-bar">
  <button class="button button-small icon ion-ios-list button-positive" ng-click="showOnList()"></button>
  <button class="button button-small icon ion-ios-location" ng-click="showOnMap()"></button>
</div>
</div>
<div class="col col-67 item-input-inset">
 <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>  
</div>
</div>
     <div id="Shopslist" ng-show="showList">
       <ion-list>
       <ion-item class="item-remove-animate item-thumbnail-left" ng-repeat="shop in shops" type="item-text-wrap"
       href="#/tab/shops/{{shop.id}}">
         <img ng-src="{{shop.storeFrontImage}}">         
       <h2>{{shop.title}}</h2>
       <h3>{{shop.description}}</h3>
       <h6>{{shop.time}}</h6>
       </ion-item>
       </ion-list>
     </div>
     <div id="shopsMap" ng-show="showMap" ng-controller="MapCtrl">
       <div id="map" data-tap-disabled="false">
         

       </div>
     </div>
  </ion-content>
</ion-view>

<!-- // -->